h1, h2, h3, h4, h5, p, pre, ul, li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.App {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #212125;
  color: #ffffff;
  position: relative;
}